{% extends 'index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'follow.css' %}">



<h1 class="block">Recherche</h1>
<form method="post">
    {% csrf_token %}
    <input type="text" name="recherche">
    <button class="buttom" type="submit">Soumettre</button>
</form>
{% if user_search %}
<h1 class="block" > Voici les résultats de votre recherche .</h1>
    {% for user in user_search %}
         <h3>{{user}}</h3>
         <button class="buttom" onclick="window.location.href='{% url 'home:add_follow' user.id %}'"> S'abonner </button>
    {% endfor %}
{% endif %}

{% if user_follow %}
<h1 class="block" > Les utilisateurs que vous suivez.</h1>
   {% for user in user_follow %}

       <h3> {{ user.followed_user.username }}</h3>
       <button class="buttom" onclick="window.location.href='{% url 'home:del_follow' user.followed_user.id %}'"> Se désabonner </button>
        <br>
   {% endfor %}
{% endif %}


{% if followed %}
<h1 class="block">Les utilisateurs qui vous suivent.</h1>
   {% for user in followed %}

       <h3>{{ user.user.username}}</h3>
       <br>
   {% endfor %}
{% endif %}


{% endblock %}