{% extends 'index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'review.css' %}">



<h1 class="block">Créer un ticket</h1>

<form method="post" enctype="multipart/form-data">
		{% csrf_token %}

			{{ form.title.label_tag }}<br>
			{{ form.title }} <br>
		    {{ form.description.label_tag }}<br>
		    {{ form.description }} <br>
		    {{ form.image.label_tag }}<br>
		    {{ form.image }} <br>
		    {% for error in form.errors %}
		        <p id="error"> {{ error }} n'est pas valide.</p>
		    {% endfor %}


		<button class="buttom" type="submit">Soumettre</button>
</form>

{% endblock %}