{% extends 'index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'connection.css' %}">

<div class="connection">
    <div class="connection-registartion">
	    <h1>Inscrivez-vous maintenant</h1>
		<button class="buttom" onclick="window.location.href='{% url 'account:signup' %}'"> S'inscrire </button>
    </div>


    <div class="connection-login">
	    <h1>Connectez-vous</h1>
        <form class="form" method="post">
			{% csrf_token %}
		    {{ form.username.label_tag }}<br>
			{{ form.username }} <br>
		    {{ form.password.label_tag }}<br>
		    {{ form.password }} <br><br>
		    {% for error in form.errors %}
		        <p id="error"> {{ error }} n'est pas valide.</p>
		    {% endfor %}

		    <button class="buttom" type="submit">Soumettre</button>
	    </form>
    </div>
</div>

{% endblock %}