{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">

<div class="inscription">
	<h1 class="block">Inscrivez-vous</h1>
    <form method="post">
		{% csrf_token %}

			{{ form.username.label_tag }}<br>
			{{ form.username }} <br>
		    {{ form.password1.label_tag }}<br>
		    {{ form.password1 }} <br>
		    {{ form.password2.label_tag }}<br>
		    {{ form.password2 }} <br>
		    {% for error in form.errors %}
		        <p id="error"> {{ error }} n'est pas valide.</p>
		    {% endfor %}

		<button class="buttom" type="submit">Soumettre</button>
	</form>
</div>


{% endblock %}