h1, h3 {
   text-align: center;
}

input {
    width: 200px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttom {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

