.inscription {
    margin: auto;
    display: flex;
    padding: 2em 2em 2em 2em;
    justify-content: center;
    flex-direction: column;

}
.block {
   display:block;
}

form {
    display:flex;
    flex-direction: column;

}

.buttom{
    justify-content: center;
    margin: auto;
    width: 10em;
    height: 2em;
}

p {
    display:flex;
    flex-direction: column;
}

input {
   width: 15em;
}

