body {
	background-color: rgb(141, 151, 140 );
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	justify-content: flex-start;
	width: 70%;
	border: solid black;
}

header h1 {
	margin-left: 2em;
}

section {
	margin-top: 4em;
	width: 70%;
	border: solid black;
}

#nav{
    position: relative;
    margin-right: 0em;
    margin-left:20em;
}

#nav ol {
	list-style: none;
	float: right;
}

#nav ol li{
	float: left;
	margin-left: 2em;
	text-decoration: none;
}
#nav ol li a {
	text-decoration: none;
	font-size:  150%;
	color: black;
}
