<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
	{% load static %}
	
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>LITReview</title>
</head>

<body>
    <header>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
        <div id="nav">
            <ol>
                <li class="nav"><a href="{% url 'home:home' %}">Flux</a></li>
                <li class="nav"><a href="{% url 'home:post' %}">Posts</a></li>
                <li class="nav"><a href="{% url 'follow:display_user' %}">Abonnements</a></li>
                <li class="nav"><a href="{% url 'account:logout' %}">Se déconnecter</a></li>
            </ol>
        </div>
        {% endif %}
    </header>


    <section >
        {% block content %}
        {% endblock %}
    </section>
     
</body>
</html>






